Backup/08-10-2023/Data/Login_Account.csv
Backup/08-10-2023/Data/Login_Account.xlsx
Backup/08-10-2023/Icon_Logo/healthcare.ico
Backup/08-10-2023/Icon_Logo/healthcare.png
Backup/08-10-2023/Icon_Logo/no-internet.png
Backup/08-10-2023/Src/bk.txt
Backup/08-10-2023/Src/Check_credentials.py
Backup/08-10-2023/Src/Check_Internet.py
Backup/08-10-2023/Src/GUI.py
Backup/08-10-2023/Src/__pycache__/Check_credentials.cpython-311.pyc
Backup/08-10-2023/Src/__pycache__/Check_Internet.cpython-311.pyc
SW/Src/test.ipynb
SW/Src/Health Monitoring System.spec
SW/Src/build
SW/Src/dist
/qt
aqtinstall.log
SW/Src/Video Call/node_modules
SW/Src/Chat/node_modules
node_modules
SW/Src/Video Call/token_data.json
SW/Src/Video Call/display_name.json
SW/Src/paths.json
SW/Src/Chat/Server/appsettings.json