body {
    font-family: 'Courier New', sans-serif;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    color: #555;
    /* background-color: #F5F5F5; */
    transition: background-color 0.3s ease;
    background-image: url('icon/bg2.jpeg');
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    height: 98vh; /* Set body height to viewport height */
}


/* Rest of your CSS */

body.light-mode {
    /* background-color: #F7F7F7; */
    color: #555;
    background-image: url('icon/bg2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 98vh;
}
body.light-mode #button-container {
    border: 2px solid black;
    background-color: #FFFFFF;
}
body.light-mode .dropdown-container label {
    color: #555;
}

body.dark-mode .dropdown-container label {
    color: #fff;
}

body.dark-mode #user-display-name span {
    color: #028391;
}

body.dark-mode {
    background-color: #11100F;
    color: white;
    background-image: url('icon/darkmode.jpg');
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    height: 98vh; /* Set body height to viewport height */
}


body.dark-mode #button-container {
    border: 2px solid #666666;
    background-color: #3B3A39;
}

body.dark-mode #user-display-name span {
    color: #FB2576;
}

.switch {
    position: fixed;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 50px;
    height: 25px;
  }

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #028391;
}

input:focus + .slider {
  box-shadow: 0 0 1px #028391;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
#user-display-name {
    font-weight: bold;
    margin-bottom: 10px;
}

#user-display-name span {
    font-weight: bold;
    color: #028391;
}
.dropdown-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown-container label {
    margin-right: 10px;
    font-weight: bold;
    color: #555;
}

.dropdown-container select {
    width: 200px;
    height: 40px;
    font-family: 'Courier New', sans-serif;
    font-size: 16px;
    font-weight: bold; /* Making text bold */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    color: #555;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
}

/* Hover and focus effects */
.dropdown-container select:hover,
.dropdown-container select:focus {
    background-color: #fff;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #028391; /* Change text color on hover/focus */
}

/* Arrow styling */
.dropdown-container select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
}

/* Colorful border and background */
.dropdown-container select {
    background: linear-gradient(180deg, #FFE8D6, #FFFAF3); /* Lightened gradient background */
    border: 2px solid transparent; /* Transparent border */
}

/* Colorful hover and focus effects */
.dropdown-container select:hover,
.dropdown-container select:focus {
    background: linear-gradient(180deg, #FFFAF3, #FFE8D6); /* Lightened gradient background on hover/focus */
}

/* Colorful arrow */
.dropdown-container select::after {
    color: #FFD166; /* Arrow color */
}

/* Animation */
@keyframes rainbow {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}

.dropdown-container select {
    width: 100%;  /* Make the select element take up the full width of its container */
    text-align-last: center;
    animation: rainbow 5s infinite; /* Apply rainbow animation */
}


#button-container {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px; 
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    border-radius: 10px;
    margin: auto;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

button img {
    width: 40px;
    height: 40px;
}

#connectedLabel {
    color: #13bb13;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    z-index: 1;
}

.remote-video-container {
    position: relative;
}

.loading-spinner {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #ca5010;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(-50%, -50%);
}

#remoteVideosGallery {
    margin: auto;
    width: 60%;
}

#localVideoContainer {
    position: absolute;
    width: 14%;
    right: 5px;
    bottom: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}